
 * {box-sizing:border-box;}
body {background-color: #FFF; }

     html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        height: 100%;
      }

	#searchbox {
		width: 25%;
		display: inline-block;
	}


	#list-row {
		box-shadow: 5px 5px 25px -2px #333;
	    padding: 12px;
    	background-color: rgba(255,255,255,0.7);
	}

	ul {
	    list-style-type: none;
	    padding: 0px;
	    margin: 0px;
	}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:20%;
    z-index:-1;
    opacity:1;
}

.list-container {
    position: fixed;
    z-index: 1;
    float: right;
    width:290px;
    padding:10px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.7);
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
